APP_DATABASE_URL=postgresql+asyncpg://app:secret@postgres:5432/orders
APP_REDIS_URL=redis://redis:6379/0
APP_RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
APP_SECRET_KEY=your-very-secret-key-minimum-32-characters-long

APP_ALGORITHM=HS256
APP_ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_CORS_ORIGINS=["http://localhost","http://localhost:8000","http://localhost:3000"]

# Для docker compose
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

DB_USERNAME=app
DB_PASS=secret
DB_NAME=orders
